<% if signed_in? %>
  <div class="row">
    <aside class="span5">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <!-- <section> -->
        <br>
        <%= render 'shared/micropost_form' %>
      <!-- </section> -->
    </aside>
    <div class="span7">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/" class="hover__link">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary btn__text-white" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>


<!-- 
<% if signed_in? %>
<%= image_tag "angular.png", alt: "Rails", style: "height:380px"%>
<% end %> -->