<% provide(:title, "Sign in") %>

<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="thongbaoloi alert <%= key %>" role="alert"><%= value %></div>		  
      <% end %>				
    <% end %>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email , class: "lbn_sn"%>
      <%= f.text_field :email ,class: "form-control input_sn" %>

      <%= f.label :password , class: "lbn_sn"%>
      <%= f.password_field :password ,class: "form-control input_sn" %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path ,class: "hover__link"%></p>
  </div>
</div>