<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>
<div class="row">
  <div class="span6 offset3">
    <%= render 'shared/error_messages' %>
    <hr>
    <div>
      <span style="display: block;">Avatar</span>
      <%= gravatar_for @user %><br>
      <a href="http://gravatar.com/emails", class="hover__link">change</a> 
    </div><br><br><br>
    <%= form_for(@user) do |f| %>
    <%= f.label :name ,'Name' , class: "lbn_sn" %>
    <%= f.text_field :name ,class: "form-control input_sn" %>
    <% @user.errors[:name].each do |msg| %>		
    <div class="box_invalid">
      <li class="invalid_noti">Name <%= msg %></li>
    </div>	  
    <% end %>
    
    <%= f.label :email , class: "lbn_sn"%>
    <%= f.text_field :email ,class: "form-control input_sn" %>
    <% @user.errors[:email].each do |msg| %>	
    <div class="box_invalid">
      <li class="invalid_noti">Email <%= msg %></li>
    </div>		  
    <% end %>

    <%= f.label :password , class: "lbn_sn"%>
    <%= f.password_field :password ,class: "form-control input_sn" %>
    <% @user.errors[:password].each do |msg| %>		
    <div class="box_invalid">
      <li class="invalid_noti">Password <%= msg %></li>
    </div>	  
    <% end %>

    <%= f.label :password_confirmation, "Confirmation password" , class: "lbn_sn"%>
    <%= f.password_field :password_confirmation ,class: "form-control input_sn" %>
    <% @user.errors[:password_confirmation].each do |msg| %>	
    <div class="box_invalid">
      <li class="invalid_noti">Password confirmation <%= msg %></li>
    </div>		  
    <% end %>

    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>
  </div>
</div>